<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>姓名案例</title>
    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<!-- 准备好一个容器 -->
<div id="demo">
    姓：<input type="text" v-model="firstName"><br/><br/>
    名：<input type="text" v-model="lastName"> <br/><br/>
    全名：<span>{{firstName}}-{{lastName}}</span>

</div>

<script type="text/javascript">
    //设置为 false 以阻止 vue 在启动时生成生产提示。
    Vue.config.productionTip = false

    //创建Vue实例
    const x = new Vue({
        el: '#demo',
        data: {
            firstName:'张',
            lastName:'三'
        }
    })

</script>
</body>

</html>